<%= form_with(model: product, class: "contents") do |form| %>
  <div class="my-5">
    <%= form.label :name %>
    <%= form.text_field :name, class: "block shadow rounded-md…" %>
  </div>

  <div class="my-5">
    <%= form.label :description %>
    <%= form.text_area :description, rows: 10, class: "block shadow…" %>
  </div>
  
  <div class="my-5">
    <%= form.label :price %>
    <%= form.text_field :price, class: "block shadow rounded-md…" %>
  </div>

  <div class="my-5">
    <%= form.label :balance %>
    <%= form.text_field :balance, class: "block shadow rounded-md…" %>
  </div>
  
  <div class="inline">
    <%= form.submit class: "rounded-lg py-3 px-5…" %>
  </div>
<% end %>
