<div class="flex w-1/4 flex-wrap">
  <div class="w-full p-1 md:p-2">
    <div class="bg-violet-400 text-white p-4" id="<%= dom_id product %>">
      <div class="grid gap-4 grid-cols-1">
        <div class="font-semibold text-3xl truncate ...">
          <%= product.name %>
        </div>

        <div class="truncate ...">
          <%= product.description %>
        </div>

        <div>
          Price: <%= number_to_currency(product.price, precision: 2) %>
        </div>

        <div>
          Available: <%= product.balance %>
        </div>
      </div>

      <div class="flex justify-between">
      <%= link_to "Show this product", product %>
      <%= link_to "Edit", edit_product_path(product) %>
      <%= button_to "Delete", product, method: :delete %>
    </div>
      <hr class="mt-6">

      <div class="relative mb-3 text-black">
        <% if product.balance.positive? %>
          <%= render "cart/buy_form", product: product %>
        <% end %>
      </div>
    </div>
  </div>
</div>
