<div class="mx-auto">
  <div class="w-full p-1 md:p-2 m-5">
    <div class="grid gap-4 grid-cols-1">
      <div class="font-semibold text-3xl text-center">
        <%= @product.name %>
      </div>

      <div>
        <%= @product.description %>
      </div>

      <div>
        Price: <%= number_to_currency(@product.price, precision: 2) %>
      </div>

      <div>
        Available: <%= @product.balance %>
      </div>
    </div>

    <div class="relative mb-3">
      <% if @product.balance.positive? %>
        <%= render "cart/buy_form", product: @product %>
      <% end %>
    </div>

    <div class="inline-block ml-2">
    <%= link_to 'Edit this product', edit_product_path(@product), class: "grey-button" %>
    </div>

    <div class="inline-block ml-2">
      <%= button_to 'Destroy this product', product_path(@product), method: :delete, class: "grey-button" %>
    </div>

    <div class="inline-block ml-2">
      <%= link_to 'Back to products', products_path, class: "grey-button" %>
    </div>

  </div>
</div>
